
header {
    background-color: nth($colores, 6);
    height: 2rem;
}

.bg-geri {
    background-color: nth($colores, 6);
}

body {
    background-color: nth($colores, 6);
}

.bodyProductos {
    background-color: nth($colores, 1);
    }